{{template "admin" .}}

{{define "content"}}
    <div class="offset-1 col-8" style="border: 1px solid #0d6efd; border-radius: 3px; padding: 8px">
        <h4 class="text-center">All Reservations</h4>
        <!-- range . -->
        <p style="margin-left: 6px">item</p>
        <p style="margin-left: 6px">item</p>
        <p style="margin-left: 6px">item</p>
        <p style="margin-left: 6px">item</p>
    </div>
{{end}}
