{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-3">Reservation details</h1><br>
            </div>
            {{$res := index .Data "reservation"}}

            <div>
                Room: {{$res.Room.RoomName}} <br>
                Arrival: {{index .StringMap "start_date"}}<br>
                Departure: {{index .StringMap "end_date"}}
            </div>

            <form action="/reservation" method="post">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
                <input type="hidden" name="end_date" value="{{index .StringMap "start_date"}}">
                <input type="hidden" name="room_id" value="{{$res.RoomId}}"><br>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>

                            {{with .Form.Errors.Get "first_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}

                            <input value="{{$res.FirstName}}" type="text" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" name="first_name" id="first_name" autocomplete="off">
                        </div>

                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>

                            {{with .Form.Errors.Get "last_name"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}

                            <input value="{{$res.LastName}}" type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" name="last_name" id="last_name" autocomplete="off">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>

                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}

                            <input value="{{$res.Email}}" type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" name="email" id="email" autocomplete="off">
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>

                            {{with .Form.Errors.Get "phone"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}

                            <input value="{{$res.Phone}}" type="text" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" name="phone" id="phone" autocomplete="off">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

        </div>
    </div>
{{end}}