{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-3">Search for availability</h1>
            </div>

            <form action="/search-availability" method="post">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Start date</label>
                            <input required type="date" class="form-control" name="start_date" id="start_date">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="end_date" class="form-label">End Date</label>
                            <input required type="date" class="form-control" name="end_date" id="end_date">
                        </div>
                    </div>

                </div>
                <button id="check-btn" type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Check</button>
            </form>
        </div>
    </div>
{{end}}

{{define "css"}}

{{end}}

{{define "js"}}
    <script>
        document.getElementById('check-btn').addEventListener('click', () => {
            notify('error', 'Please take Arrival and Departure dates')
        })
    </script>
{{end}}